<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @article %>
      <%= form_with(model: @article, class: "shadow-lg p-3 mb-3 rounded", id: "forms", local: true) do |f| %>
      </p>
        <div class="form-group row">
          <%= f.label :title, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control", placeholder: "Title of article", id: "text_field" %>
          </div>
        </div>

        </p>

        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of article", id: "text_field" %>
          </div>
        </div>
        </p>
        <p class="text-center">
          <%= link_to 'Cancel', articles_path, class: 'btn btn-outline-light btn-lg' %>
          <%= f.submit class: "btn btn-light btn-lg" %>
        </p>
      <% end %>
    </div>
  </div>
</div>